/*border boxit kaikkeen, ei reunoja*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 80vh;
    position: relative;
    height: fit-content;
}
/* body, header, footer */
body {
    font-family: 'ABeeZee', sans-serif;
}
header {
    background-color: rgb(240, 238, 137);
    color: rgb(2, 87, 27);
    line-height: 4em;
    text-align: center;
}
footer {
    margin-top: 3em;
    position: absolute;
    bottom: 0;
    background-color: rgb(240, 238, 137);
    text-align: center;
    width: 100%;
    line-height: 2em;
}

.hero {
    text-align: center;
    line-height: 2em;
}

.content {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 550px;
    margin-left: 2em;
}

/* letter tiles */

.letter {
    position: relative;
    padding-top: 6%;
    width: 55px;
    height: 55px;
    margin: 0 5px 0 5px;
    background-color: rgb(240, 238, 137);
    font-size: 225%;
    text-align: center;
    color: rgb(2, 87, 27);
    border: solid 1px rgb(163, 162, 91);
    border-radius: 10%;
    cursor: pointer;
}

.letter .val {
    font-size: 35%;
    position: relative;
    left: 30%;
    margin-top: -18%;
    -webkit-user-select: none;
    user-select: none;
}

.undo {
    width: 55px;
    line-height: 26px;
    background-color: rgb(235, 148, 98);
    text-align: center;
    margin-left: 4px;
    margin-top: 8%;
    border-style: outset;
    border-color: rgb(182, 182, 182);
    cursor: pointer;
}

.undo .origamount {
    font-size: 25%;
    margin-top: -15px;
    margin-bottom: -8px;
    margin-right: 4px;
    text-align: right;
}

.is-empty {
    opacity: 0.25;
}

/* end letter tiles */

@media only screen and (max-width: 600px) {
    .content {
        width: 320px;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
    
}

.game {
    margin-bottom: 3em;
    min-height: 89vmin;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.turns {
    /* display: block; */
    margin-left: 1em;
    margin-top: 2em;
    width: 100px;
}

.endturn {
    display: block;
    padding: 0.5em;
    width: 120px;
    border: solid 1px black;
    text-align: center;
    margin: 0.5em 0;
}