* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;    
    position: relative;
    height: fit-content;
    overflow: scroll;
}
/* body, header, footer */
body {
    font-family: 'ABeeZee', sans-serif;
}
header {
    background-color: rgb(240, 238, 137);
    color: rgb(2, 87, 27);
    line-height: 4em;
    text-align: center;
}
footer {
    margin-top: 3em;
    position: absolute;
    bottom: 0;
    background-color: rgb(240, 238, 137);
    text-align: center;
    width: 100%;
    line-height: 2em;
}
/* body, header, footer päättyy */

/* sisältö */
.hero {
    text-align: center;
    line-height: 3em;
}

.game {
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 350px;
    height: fit-content;
    margin-left: 2em;
}

/* kirjainlaatat & undo */
.letter {
    position: relative;
    padding-top: 6%;
    width: 55px;
    height: 55px;
    margin: 0.5em 5px 0 5px;
    background-color: rgb(240, 238, 137);
    font-size: 225%;
    text-align: center;
    color: rgb(2, 87, 27);
    border: solid 1px rgb(163, 162, 91);
    border-radius: 10%;
    cursor: pointer;
}

.letter .val {
    font-size: 35%;
    position: relative;
    left: 30%;
    margin-top: -18%;
    -webkit-user-select: none;
    user-select: none;
}

.undo {
    width: 55px;
    line-height: 26px;
    background-color: rgb(235, 148, 98);
    text-align: center;
    margin-left: 4px;
    margin-top: 8%;
    border-style: outset;
    border-color: rgb(182, 182, 182);
    cursor: pointer;
}

.undo .origamount {
    font-size: 25%;
    margin-top: -15px;
    margin-bottom: -8px;
    margin-right: 4px;
    text-align: right;
}

.is-empty {
    opacity: 0.25;
}
/* kirjainlaatat & undo päättyy */

.turns {
    display: block;
    margin-left: 1em;
    width: auto;
}

.endturn {
    display: block;
    padding: 0.5em;
    width: 120px;
    border: solid 1px black;
    text-align: center;
    margin: 1.2em 0;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
/* Sisältö päättyy */

/* breakpointit, vielä voisi ehkä hioa */
@media only screen and (max-width: 600px) {
    /* * {
        margin: 0;
        padding: 0;
    } */
    
    .content {
        width: 320px;
        flex-direction: row;
        margin-left: 0;
    }

    .game {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }

    .turns {
        margin-left: -10px;
    }

    .undo {
        margin-left: 0;
    }

    .full-let {
        transform: scale(0.9);
    }

    .letter {
        margin: 0;
    }

    .endturn {
        padding: 0.5em 0.25em;
        margin: 0.5em 0;
    }
    
}

@media only screen and (max-width: 440px) {
    .game {
        display: flex;
        justify-content: center;
    }
    .content {
        width: 250px;
        margin-left: -1em;
    }
    .undo {
        margin-bottom: 0.1em;
    }
    .endturn {
        width: 80px;
    }
    
}