/*border boxit kaikkeen, ei reunoja*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
/*jotta saadaan footer pohjaan vaikka sisältöä ei olisi "tarpeeksi"*/
body {
    display: flex;
    flex-direction: column;
    font-family: 'ABeeZee', sans-serif;
}

header {
    justify-content: space-between;
    width: 100%;
    text-align: center;
    background-color: rgb(240, 238, 137);
    color: rgb(2, 87, 27);
    padding: 15px 0 15px 0;
    box-shadow: 0px 6px 12px rgb(69,69,69);
    
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 90%;
    margin: 2em auto auto auto;
    
    margin-bottom: 20px;
}

footer {
    flex-shrink: 0;
    text-align: center;
    background-color: rgb(240, 238, 137);
    color: rgb(2, 87, 27);
    padding: 4px 0;
    font-family: 'Times New Roman', Times, serif;
}

/* templaatti päättyy */

#hero {
    margin: 1.2rem auto -1.2rem auto;
    text-align: center;
}

.content {
    width: 420px;
}

.letter {
    /* transform: scale(1.1); */
    position: relative;
    padding-top: 6%;
    width: 50px;
    height: 50px;
    margin: 10px 6px auto auto;
    background-color: rgb(240, 238, 137);
    /* font-size: 3.5em; */
    font-size: xx-large;
    text-align: center;
    color: rgb(2, 87, 27);
    border: solid 1px rgb(163, 162, 91);
    border-radius: 10%;
    cursor: pointer;
}

.letter .val {
    font-size: 35%;
    position: relative;
    left: 30%;
    margin-top: -18%;
    -webkit-user-select: none;
    user-select: none;
}

.undo {
    width: 50px;
    line-height: 26px;
    background-color: rgb(235, 148, 98);
    text-align: center;
    margin-top: 8%;
    border-style: outset;
    border-color: rgb(182, 182, 182);
/*    border: solid 1px black;*/
    cursor: pointer;
}

.undo .origamount {
    font-size: 25%;
    margin-top: -15px;
    margin-bottom: -8px;
    margin-right: 4px;
    text-align: right;
}

.is-empty {
    opacity: 0.25;
}

@media only screen and (max-width: 435px) {
    .content {
        width: 320px;
    }
    .letter {
        margin: 10px 6px auto auto;

    }
}